h1 {
  line-height: 120%;
}
.blue-color {
  color: $blue-color;
}
.align-right {
  text-align: right;

  table,
  tr,
  th {
    text-align: right;
  }
}
@media only screen and (max-width: #{$global-breakpoint}) {
 .align-right {
   text-align: center !important;

   table,
   tr,
   th {
     text-align: center !important;
   }
  }
}
